<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chess.css">
    <meta charset="UTF-8">
    <title>Chess.com</title>
    </head>
<body onload="begin()">
    <p id="mouve"></p>
    <audio id="echec" src="/musiques/chessAtack.wav"></audio>
    <audio id="win" src="/musiques/win.wav"></audio>
    <audio id="moov" src="/musiques/moov.wav"></audio>
    <audio id="eat" src="/musiques/eat.wav"></audio>
    <script src="/javascripts/chess.js"></script>
</body>
</html>

