<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Game Host Page</title>
</head>
<body>
<h1>Welcome, here are the available games:</h1>
<ul>
    <li><a href="/echec">jeu d'echec seul</a></li>
    <li><a href="/socket">jeu d'echec en ligne</a></li>
    <li><a href="/taquin">jeu du taquin (seul)</a></li>
</ul>
</body>
</html>