<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/taquin2.css">
    <meta charset="UTF-8">
    <title>Taquin.com</title>
</head>
<body>
    <button id="debut" type="button" onclick="initialisation()">Commencer</button>
    <div id="taquin" class="grid-container">
        <div id="1" class="grid-item"></div>
        <div id="2" class="grid-item"></div>
        <div id="3" class="grid-item"></div>
        <div id="4" class="grid-item"></div>
        <div id="5" class="grid-item"></div>
        <div id="6" class="grid-item"></div>
        <div id="7" class="grid-item"></div>
        <div id="8" class="grid-item"></div>
        <div id="9" class="grid-item"></div>
    </div>
<script src="/javascripts/taquin2.js"></script>
</body>
</html>
