.grid-container {
    display: grid;
    height: 300px;
    width:300px;
    row-gap: 1px;
    column-gap: 1px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-color: #2196F3;
    padding: 4px;




}
.grid-item {
    height: 90px;
    width:90px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0);
    padding: 2px;
    font-size: 60px;
    text-align: center;




}
